@import "./styles/variables";
@import "./styles/mixins";

body, html {
 font-family: $font-primary;
 background-color: $color-secondary;
 padding: $padding-sm;
}

header {
  padding: $padding-sm;
  margin: $margin-sm;
}

footer {
  padding: $padding-sm;
  margin: $margin-sm;
}

div {
}

section {
  padding: $padding-sm;
  margin: $margin-sm;
  background-color: $color-primary;
  border: none;
  border-radius: .75rem;
}

p {

}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}