.currentMain {
  width: 50%;
}

.currentTemp {
  width: 33%;
}

.hourlyForecast {
  width: 85%;
}

.extendedForecast {
  width: 90%;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: inline;
  margin: 25px auto 25px auto;

  width: 100%;
}
