.searchResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.searchResult {
    border-width: 0px 0px 1px 0px;
}

.searchResult:hover {
    background-color: rgb(128, 128, 128, .25);
    cursor: pointer;
}

.selectedCheck {
    display: none;
}