@import "../styles/variables";
@import "../styles/mixins";

.weatherWrapper {
    @include horizontal-list;
    @include center-around;
}

.currentMain {
    @include horizontal-list;
    @include center-around;
    width: 50%;
}

.weatherWrapper > section {
    @include horizontal-list;
    @include center-around;
    min-width: 33%;
}

.weatherIcon {
    width: 33%;
}

.currentWeather {
    @include horizontal-list;
    @include center-around;
    width: 100%;
}

.currentHeader {
    width: 100%;
}

.currentAdd {
    @include horizontal-list;
    @include center-around;
}

.addDiv {
    @include vertical-list;
}

.extendedForecast {
    @include vertical-list;
    width: 100%;
}