.weatherWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: solid;
    padding: 0px;
    margin: 0px 25px;
}

.currentMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 25px;
}

.weatherWrapper > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: solid;
    min-width: 33%;
    margin: 25px 0px;
}

.weatherIcon {
    width: 33%;
}

.currentWeather {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.currentHeader {
    width: 100%;
}

.currentAir {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}