@import "../styles/variables";
@import "../styles/mixins";

.weatherWrapper {
    @include flex-row;
    @include center-around;
}

.currentMain {
    @include flex-row;
    @include center-around;
    width: 50%;
}

.weatherWrapper > section {
    @include flex-row;
    @include center-around;
    min-width: 33%;
}

.weatherIcon {
    width: 33%;
}

.currentWeather {
    @include flex-row;
    @include center-around;
    width: 100%;
}

.currentHeader {
    width: 100%;
}

.currentAdd {
    @include flex-row;
    @include center-around;
}

.addDiv {
    @include flex-column;
}

.extendedHome {
    width: 100%;
}

.extendedTitle {
    width: 100%;
}